{% load static %}
<!DOCTYPE html>
<html lang="fr-FR">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <title>IdiHaum user matrix</title>
   <link href="{% static 'idihaum/minimal-table.css' %}"rel="stylesheet" type="text/css">
</head>
    <body>
        <h1>IdiHaum user matrix</h1>
        <table>
            {% if reader_list %}
            <tr>
                <td>User / Reader </td>
                {% for reader in reader_list %}
                <td><a href="/reader/{{ reader.id }}/">{{ reader.label }}</a></td>
                {% endfor %}
            </tr>
            {% endif %}
            {% if users_list %}
                {% for user in users_list %}
                <tr>
                    <td><a href="/user/{{ user.id }}/">{{ user.name }}</a></td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </body>
</html>
