{% load static %}
<!DOCTYPE html>
<html lang="fr-FR">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <title>IdiHaum reader matrix</title>
   <link href="{% static 'idihaum/minimal-table.css' %}"rel="stylesheet" type="text/css">
</head>
    <body>
	<a href="/"> <- index</a>
	{% if the_reader %}
        <h1>{{ the_reader.label }} access matrix</h1>
        <table>
	<tr>
		<td><b>{{ the_reader.label }}</b></td>
			{% for user in the_reader.user_set.all %}
			<td><a href="/user/{{ user.id }}/">{{ user.name }}</a></td>
			{% endfor %}
		</tr>
	</table>
	<b>the_reader.Id_topic </b>{{the_reader.Id_topic}}</br>
	<b>the_reader.Answer_topic </b>{{the_reader.Answer_topic}}</br>
	<b>the_reader.Message_topic </b>{{the_reader.Message_topic}}
        {% else %}
		no reader
        {% endif %}
    </body>
</html>
